 @media screen and (max-width: 380px) {
     .header-text{
         display: none;
     }
     .contact-details{
        display: none;
     }


 }


/*...Header Styling... */

.jumbo-header-image {
    background-image: url("/assets/pictures/header-banner.png");
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 0;
}

.pop-navbar {
    background-color: #7a3996 !important;
    font-family: 'Luckiest Guy', cursive;
}
.poppinz_logo {
    padding-top 50px;
    
}


.logo-row {
    height: 250px;
    margin-bottom: 0px;

}


/*......content styling......*/


.card-title a {
    color: #7a3996;
}


.card-text{
    font-family: sans-serif;
}

.card {
    color:  #7a3996 !important;

}

/*.....Carousel Styling.....*/

.carousel{
   
    background: #7a3996;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}


.page-content{
    padding-top: 20px;
}

.header-text{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: #7a3996;
    text-shadow: 2px 2px 4px white;
}

.card-content{
    font-family: 'Luckiest Guy', cursive;
    

}




.contact-details{
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: white; 
    text-shadow: 1px 1px 2px  #7a3996;
}

.contact-details .fas {
    color: white; 
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 2px  #7a3996;
}

.page-footer h6{
    color:#7a3996  ;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    }


footer a {
    color: #7a3996;
}