.jumbo-header-image {
    background-image: url("/assets/pictures/header-banner.png");
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 0;
}




.logo-row {
    height: 250px;
    margin-bottom: 0px;

}

.carousel{
    background: #2f4357;
    margin-top: 20px;

.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}


